{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Prefix Bulk Edit{% endblock %}

{% block select_objects_table %}
    {% for prefix in selected_objects %}
        <tr>
            <td><a href="{% url 'ipam:prefix' pk=prefix.pk %}">{{ prefix }}</a></td>
            <td>{{ prefix.vrf|default:"Global" }}</td>
            <td>{{ prefix.tenant }}</td>
            <td>{{ prefix.site }}</td>
            <td>{{ prefix.status }}</td>
            <td>{{ prefix.role }}</td>
            <td>{{ prefix.description }}</td>
            <td>{{ prefix.ttl }}</td>
            <td>{{ prefix.soa_name }}</td>
            <td>{{ prefix.soa_contact }}</td>
            <td>{{ prefix.soa_refresh }}</td>
            <td>{{ prefix.soa_retry }}</td>
            <td>{{ prefix.soa_expire }}</td>
            <td>{{ prefix.soa_minimum }}</td>
            <td>{{ prefix.description }}</td>
            <td>{{ prefix.extra_conf }}</td>
        </tr>
    {% endfor %}
{% endblock %}
