{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% load form_helpers %}

{% block title %}Zone Import{% endblock %}

{% block content %}
<h1>Zone Import</h1>
<div class="row">
	<div class="col-md-6">
		<form action="." method="post" class="form">
		    {% csrf_token %}
		    {% render_form form %}
		    <div class="form-group">
		        <button type="submit" class="btn btn-primary">Submit</button>
		        <a href="{% url obj_list_url %}" class="btn btn-default">Cancel</a>
		    </div>
		</form>
	</div>
	<div class="col-md-6">
		<h4>CSV Format</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Field</th>
					<th>Description</th>
					<th>Example</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Name</td>
					<td>Name of zone</td>
					<td>foo.net</td>
				</tr>
				<tr>
					<td>TTL</td>
					<td>Time to live, in seconds</td>
					<td>10800</td>
				</tr>
				<tr>
					<td>SOA Name</td>
					<td>The primary name server for the domain, @ for origin</td>
					<td>@</td>
				</tr>
				<tr>
					<td>SOA Contact</td>
					<td>The responsible party for the domain</td>
					<td>ns.foo.net. noc.foo.net.</td>
				</tr>
				<tr>
					<td>SOA Refresh</td>
					<td>Refresh time, in seconds</td>
					<td>3600</td>
				</tr>
				<tr>
					<td>SOA Retry</td>
					<td>Retry time, in seconds</td>
					<td>3600</td>
				</tr>
				<tr>
					<td>SOA Expire</td>
					<td>Expire time, in seconds</td>
					<td>604800</td>
				</tr>
				<tr>
					<td>SOA Minimum</td>
					<td>Negative result TTL, in seconds</td>
					<td>1800</td>
				</tr>
                                <tr>
                                        <td>Extra Conf</td>
                                        <td>Extra conf related to the zone, to put in your DNS server main conf file</td>
                                        <td>"notify: 10.120.0.1 NOKEY\nprovide-xfr: 10.120.0.1 NOKEY"</td>
                                </tr>
				<tr>
					<td>Description</td>
					<td>Description (optional)</td>
					<td>Mail servers zone</td>
				</tr>
			</tbody>
		</table>
		<h4>Example</h4>
		<pre>foo.net,10800,@,ns.foo.net. noc.foo.net.,3600,3600,604800,1800,"notify: 10.120.0.1 NOKEY\nprovide-xfr: 10.120.0.1 NOKEY",Mail servers zone</pre>
	</div>
</div>
{% endblock %}
