{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Zone Bulk Edit{% endblock %}

{% block select_objects_table %}
    {% for zone in selected_objects %}
        <tr>
            <td><a href="{% url 'dns:zone' pk=zone.pk %}">{{ zone.name }}</a></td>
            <td>{{ zone.ttl }}</td>
            <td>{{ zone.soa_name }}</td>
            <td>{{ zone.soa_contact }}</td>
            <td>{{ zone.soa_refresh }}</td>
            <td>{{ zone.soa_retry }}</td>
            <td>{{ zone.soa_expire }}</td>
            <td>{{ zone.soa_minimum }}</td>
            <td>{{ zone.extra_conf }}</td>
            <td>{{ zone.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}
